body {
  background-image: url(../images/pig.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  float: auto;
}

.jumbotron1 {
  background-color: pink;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}
.display-4 {
  font-family: cursive;
  font-weight: bolder;
}

p.lead {
font-family: cursive;
font-weight: bolder;
}

#pig-dice{
  padding-top: 10%;
}

.card {
  opacity: .8;
  height: 200px;
  width: 350px;
  text-align: center;
}

.dice {
  width:150px;
  height: 150px;
  color: red;
	background:#F5F5F5;
	border:red 2px solid;
  padding:50px;
	font-size:34px;
  text-align:center;
  align-items: center;
  margin-left:100px; 
  float: center;
}