body {
  background-image: url(../images/pig.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  float: auto;
  padding-bottom: 10%;
  
}

.jumbotron {
  background-color: pink;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

.center{
  text-align: center;
  list-style-position: inside;
}

p.rules {
  text-decoration: underline;
}

.display-4 {
  font-weight: bolder;
}

p.lead {
font-family: cursive;
font-weight: bolder;
}

#pig-dice {
  padding-top: 10%;
  display: none;
}

.card {
  opacity: .8;
  height: 250px;
  width: 350px;
  text-align: center;
}

.dice {
  width:150px;
  height: 150px;
  color: red;
	background:#F5F5F5;
	border:red 2px solid;
  padding:50px;
	font-size:34px;
  text-align:center;
  align-items: center;
  margin-left:100px; 
  float: center;
}

#player-names {
  font-family:cursive;
  font-weight:bolder;
  font-size: 30px;
  text-align: center;
}

div.card p {
  font-size: x-large;
}

.card-body2 {
  display: none;
}